body {
  margin: 0;
  font-family: $font-family-base;
}

.viseble {
  display: grid;
}

.unseen {
  display: none;
}

.round-circle {
  border-radius: $circle-radius !important;
}

.NotFound {
  width: 100vw;
  height: 100vh;
  & img {
    padding-top: 100px;
  }
}