.btn {
  @include button($white, $primary-color);
  &-outline { @include buttonOutline($primary-color, $white); }
  &-link { @include buttonLink($primary-color); }
  &-social { @include buttonSocial($primary-color); }
  &-outline-icon { @include buttonOutline($primary-color, $white); }
  &-social-circular { @include buttonSocialCircular($white, $primary-color); }
  &-outline-pill {
    @include buttonOutline($primary-color, $white);
    border-radius: $border-radius-pill;
  }
  &-pill {
    @include button($white, $primary-color);
    border-radius: $border-radius-pill;
  }
  &-icon {
    @include button($white, $primary-color);
    &.round-circle { border-radius: $circle-radius; }
  }

  &-group {
    grid-template-columns: repeat(2, 1fr);
    &.left-big {
      grid-template-columns: 1fr 0.2fr;
    }
    &.right-big {
      grid-template-columns: 0.2fr 1fr;
    }
    & > button {
      width: 100%;
      border-radius: 0;
    }
    & > button:first-child {
      border-top-left-radius: $border-radius-lg;
      border-bottom-left-radius: $border-radius-lg;
    }
    & > button:last-child {
      border-top-right-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;
    }
  }
}

@each $name, $color in $theme-colors {
  @if (type-of($color) == 'color') {
    .btn-#{$name} {
      @include button($white ,$color);
    }

    .btn-pill-#{$name} {
      @include button($white ,$color);
      border-radius: $border-radius-pill;
      &:hover {
        // transform: scale(1.1);
        background: darken($color, 2%);
      }
    }

    .btn-#{$name}-darken {
      background: darken($color, 2%);
      &:hover {
        background: darken($color, 5%);
      }
    }

    .btn-#{$name}-lighten {
      background: lighten($color, 5%);
      &:hover {
        background: $color;
      }
    }

    .btn-link-#{$name} { @include buttonLink($color); }
    .btn-social-#{$name} { @include buttonSocial($color); }
    .btn-social-link-#{$name} { @include buttonSocialLink($color); }
    .btn-social-circular-#{$name} { @include buttonSocialCircular($white, $color); }
    .btn-outline-#{$name} { @include buttonOutline($color, $white); }
    .btn-icon-#{$name} { @include button($white, $color); }
    .btn-outline-icon-#{$name} { @include buttonOutline($color, $white); }

    .btn-outline-pill-#{$name} {
      @include buttonOutline($color, $white);
      border-radius: $border-radius-pill;
    }

  }
}

@each $name, $size in $btn-size {
  .btn-#{$name} {
    padding: $size - 4 $size;
    font-size: $size;
  }
}

.btn-social-paypal, .btn-social-circular-paypal { background: $paypal-back; }
.btn-soft, .btn-light, .btn-white { color: $black; }

.btn-outline-soft, .btn-outline-light, .btn-outline-white {
  // color: $black;
  &:hover { color: $black; }
}