.Footer {
  // width: 100vw;
  // height: 500px;

  &__body {
    padding: 100px 250px;
    padding-bottom: 0;
    // grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "aboutUs links newsletter"
      "aboutUs links sponsor";
  }

  &__aboutUs {
    grid-area: aboutUs;
    & img {
      object-position: left;
    }
    &--slogan {
      padding-right: 100px;
    }
  }

  &__links {
    grid-area: links;

    &--items {
      grid-template-rows: repeat(8, 1fr);
    }

    // &--items a {
    //   padding-left: 6px;
    //   padding-right: 10px;
    //   border-left: 3px solid $white;
    // }

    &--items a:hover {
      // padding-bottom: 5px;
      // border-bottom: 2px solid $white;;
      // border-radius: $border-radius;
      @include shadow($white);
    }
  }

  &__newsletter {
    grid-area: newsletter;
  }

  &__sponsor {
    padding-top: 10px;
    grid-area: sponsor;
  }

  &__contact {
    grid-area: contact;
    padding-top: 80px;
  }

  &__copyright {
    margin-top: 50px;
    padding: 20px 0;
  }

  & img {
    object-fit: contain;
  }
}

.socialMedia--icons {
  & i {
    font-size: $font-size-xxl;
    // transition: $transition-base;
    // cursor: pointer;
  }
  // & i:hover {
  //   transform: scale(1.2);
  // }
}