.LoginCard {
  padding: 50px 100px;
  padding-top: 0;
  border-bottom-left-radius: $border-radius-xl;
  border-bottom-right-radius: $border-radius-xl;

  &__header {
    text-align: center;

    & h1 {
      font-weight: 500;
    }

    & h4 {
      font-weight: 200;
      padding: 10px 0;
    }

    & div {
      padding: 20px 0;
      & button {
        width: 90%;
      }
    }
  }
}