@import './../../static/scss/utils/variables';
@import './../../static/scss/mixins/shadow';

h1 {
  &.light {
    color: #797979;
  }
  &.dark {
    color: #0f91ce;
  }
}

.draw {
  margin: 100px;
}

