.becomeinteam {
  border-radius: $border-radius-xl;
  &-body {
    padding: 50px;
    & > a {
      margin-top: 20px;
      justify-self: left;
    }
  }

  &-body-title {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: $font-size-xxl;
  }

  &-body-message {
    font-weight: 100;
  }

  &-body-image {
    width: 400px;
    align-self: center;
    & img {
      width: 100%;
    }
  }
}