.download {
  padding: 50px;
  // padding-top: 10px;
  border-radius: $border-radius-xl;
  &-header {
    // padding-top: 50px;
  }
  &-body {
    // padding: 50px;
    padding-bottom: 50px;
    font-size: $font-size-lg;
  }

  &-body-title {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: $font-size-xxl;
  }

  &-body-message {
    font-weight: 100;
  }

  &-footer-action {
    grid-template-columns: 0.5fr 1fr;
    & i {
      font-size: $icon-size-sm;
    }
    & small {
      font-size: $font-size-xs;
    }
    & p {
      font-weight: 700;
      // font-size: $font-size-sm;
    }
  }
}