.getintouch {
  border-radius: $border-radius-xl;
  &-body {
    padding: 50px;
  }

  &-body-title {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: $font-size-xxl;
  }

  &-body-message {
    font-weight: 100;
  }
}