.LevelCard {
  border-radius: $border-radius;
  box-shadow: $box-shadow-sm;
  grid-template-columns: 0.1fr 1fr;
  grid-template-areas:
    "header body"
    "footer footer";
  height: 150px;

  margin: 20px;
  &__header {
    grid-area: header;
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: $circle-radius;
  }

  &__body {
    grid-area: body;
  }

  &__footer {
    grid-area: footer;
    padding: 25px;

    & > .btn {
      width: 70%;
    }
  }
}