.PdfPreview {
  grid-template-columns: 0.5fr 1fr;
  padding: 20px 100px;
  & img {
    object-fit: contain;
  }

  &__body {
    padding-left: 15px;

    &--title {
      font-size: $h4-font-size;
      font-weight: 600;
    }

    &--info {
      padding: 5px 0;
      font-weight: 300;
    }

    &--footer {
      padding: 5px 0;
      font-weight: 300;
    }
  }
}