.form {
  &-group {
    & label {
      margin-top: 20px;
      font-size: $font-size-md;
    }

    & .form-check-label {
      margin: 0;
      font-weight: 100;
    }

    & .btn-100 {
      margin: 20px 0;
      width: 100%;
    }

    &.column--2 {
      grid-gap: 20px;
    }
  }

  &-help {
    font-size: $font-size-sm;
    padding: 10px 0;
  }

  &-control {
    padding: 10px;
    border-radius: $border-radius;
    border: 1px solid lighten($gray-color, 60%);
  }

  &-select {
    padding: 10px;
    background: white;
    border-radius: $border-radius;
    border: 1px solid lighten($gray-color, 60%);
    &:disabled {
      padding: 10px;
      background: white;
      border-radius: $border-radius;
      border: 1px solid lighten($gray-color, 60%);
    }
  }

  &-button {
    padding-top: 50px;
    & button {
      width: 50%;
    }
  }

  &-password {
    grid-template-columns: 0.1fr 1fr;
    grid-template-areas:
      "label label"
      "icon input"
      "small small";

      & > label {
        grid-area: label;
      }
      & > span {
        padding: 12px;
        border-right: none;
        transition: $transition-base;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        &:first-child {
          grid-area: icon;
        }
        &:last-child {
          grid-area: input;
          cursor: pointer;
        }
        &.error {
          border-color: $danger-color;
          color: $white;
          background: $danger-color;
        }
      }
      & > input {
        grid-area: input;
        border-radius: 0;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
      & > small {
        grid-area: small;
      }
  }
}

select:disabled {
  padding: 10px;
  background: lighten($blue, 60%);
  color: $black;
  border-radius: $border-radius;
}

.icon-input {
  grid-template-columns: 0.1fr 1fr;
  grid-template-areas:
    "label label"
    "icon input"
    "small small";

  & > label {
    grid-area: label;
  }

  & > span {
    grid-area: icon;
    border-right: none;
    padding: 12px;
    transition: $transition-base;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    &.error {
      border-color: $danger-color;
      color: $white;
      background: $danger-color;
    }
  }

  & > input {
    grid-area: input;
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  & > small {
    grid-area: small;
  }
}

.icon-input-button {
  grid-template-columns: 0.1fr 1fr 0.2fr;
  grid-template-areas:
    "label label label"
    "icon input button"
    "small small small";

  & > label {
    grid-area: label;
  }

  & > span {
    grid-area: icon;
    border-right: none;
    padding: 12px;
    transition: $transition-base;
    background: $primary-color;
    color: $white;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  & > input {
    grid-area: input;
    border-radius: 0;
  }

  & > button {
    width: 100%;
    height: 100%;
    grid-area: button;
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  & > small {
    grid-area: small;
  }
}