* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // margin: 0;
  font-family: $font-family-base;
  transition: $transition-theme;
  &.light {
    color: $dark;
    background: $light-background;
  }
  &.dark {
    color: $soft-color;
    background: $dark-background;
  }
}

a {
  text-decoration: none;
  color: $tertiary-color;
}

.btn, .btn-primary, .btn-secondary, .btn-tertiary, .btn-acent, .btn-link, .btn-link-soft {
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 14px;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: $font-size-base;
  font-family: $font-family-base;
  border-radius: $border-radius-lg;
  transition: $transition-transform;
}

.btn, .btn-primary {
  @include button();
}

.btn-secondary {
  @include button($soft-color, $secondary-color);
}

.btn-tertiary {
  @include button($soft-color, $tertiary-color);
}

.btn-acent {
  @include button($soft-color, $acent-color);
}

.btn-link, .btn-link-soft {
  @include buttonLink();
}

.btn-link-soft {
  color: $soft-color;
}

.text-primary { color: $primary-color; }
.text-secondary { color: $secondary-color; }
.text-acent { color: $gray-500; }
.text-success { color: $success-color; }
.text-danger { color: $danger-color; }
.text-soft { color: $soft-color; }