* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // margin: 0;
  font-family: $font-family-base;
  transition: $transition-theme;
  &.light {
    color: $dark;
    background: $light-background;
  }
  &.dark {
    color: $soft-color;
    background: $dark-background;
  }
}

a {
  text-decoration: none;
  color: $tertiary-color;
}

.btn, .btn-primary, .btn-secondary, .btn-tertiary, .btn-acent, .btn-danger, .btn-outline, .btn-outline-soft, .btn-link, .btn-link-soft {
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 14px;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: $font-size-base;
  font-family: $font-family-base;
  border-radius: $border-radius-lg;
  transition: $transition-transform;
}

.btn, .btn-primary {
  @include button();
}

.btn-secondary {
  @include button($soft-color, $secondary-color);
}

.btn-tertiary {
  @include button($soft-color, $tertiary-color);
}

.btn-acent {
  @include button($soft-color, $acent-color);
}

.btn-link, .btn-link-soft {
  @include buttonLink();
}

.btn-outline {
  @include buttonOutline($primary-color, $soft-color)
}

.btn-outline-soft {
  @include buttonOutline($soft-color, $primary-color)
}

.btn-link-soft {
  color: $soft-color;
}

.text-primary { color: $primary-color; }
.text-secondary { color: $secondary-color; }
.text-acent { color: $gray-500; }
.text-success { color: $success-color; }
.text-danger { color: $danger-color; }
.text-soft { color: $soft-color; }
.text-gray-600 { color: $gray-600; }
.text-gray-500 { color: $gray-500; }
.text-gray-400 { color: $gray-400; }

.form {
  @include formBasic();
}

body.dark {
  .form {
    @include formBasicDark();
  }
}

.ToggleSwitch {
  // background: $white;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  justify-self: left;
  color: $primary-color;
  box-shadow: $box-shadow;
  & .ToggleSwitch--item {
    padding: 2.5px 8px;
    background: $gray-500;
    width: 100%;
    border: none;
    transition: $transition-base;
    &:hover {
      transform: translateY(-0.5px);
      background: $white;
    }
  }
  & .ToggleSwitch--item:first-child {
    justify-content: center;
    align-items: center;
    // background: $danger-color;
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius;
  }
  & .ToggleSwitch--item:last-child {
    font-size: $font-size-lg;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius-sm;
  }
  & > .ToggleSwitch--item.active {
    background: $neon;
    color: $soft-color;
    box-shadow: $box-shadow;
  }
}