.HomeManager {

  &__header {
    padding: 50px 100px;
    padding-left: 120px;
    padding-bottom: 0;
  }

  &__filter {
    padding: 30px 100px;
    padding-left: 120px;
    &--form {
      grid-template-columns: 0.1fr 1fr 0.5fr;
      grid-template-areas:
        "label label label"
        "icon input button";
    }

    &--items {
      column-gap: 20px;
    }

    & select {
      border: none;
    }
  }

  &__body {
    padding: 0 80px;
    padding-left: 100px;

    &--teachers {
      column-gap: 20px;
      row-gap: 60px;
    }
  }

  &__footer {
    padding: 50px 0;
  }
}

.filter {
  &--label {
    grid-area: label;
    padding-bottom: 5px;
  }

  &--icon {
    grid-area: icon;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border: 1px solid $gray-500;
    border-right: none;
    padding: 10px;
  }

  &--input {
    grid-area: input;
    border: 1px solid $gray-500;
    border-left: none;
  }

  &--button {
    grid-area: button;
    width: 100%;
    border-radius: 0 !important;
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }
}