$btn-size: (
  'xl': 18px,
  'lg': 16px,
  'md': 14px,
  'sm': 12px,
  'xs': 10px,
);

@mixin button($color, $background) {
  font-family: $font-family-base;
  border: none;
  color: $color;
  padding: 10px 14px;
  cursor: pointer;
  text-align: center;
  align-self: center;
  justify-self: center;
  background: $background;
  font-size: $font-size-base;
  font-weight: 600;
  border-radius: $border-radius-lg;
  text-transform: capitalize;
  transition: $transition-transform;
  @include shadow($background);
  @if (type-of($background) == 'color') {
    &:hover {
      transform: translateY(-2px);
      background: darken($background, 2%);
    }
  }
}

@mixin buttonOutline($color, $background) {
  @include button($color, none);
  border: 1px solid rgba($color, 0.3);
  @include shadow($color);
  &:hover {
    transform: translateY(-2px);
    color: $background;
    background: $color;
  }
}

@mixin buttonLink($color) {
  @include button($color, none);
  border: none;
  &:hover {
    transform: translateY(-2px);
  }
}

@mixin buttonSocial($color) {
  @include button($white, $color);
}

@mixin buttonSocialLink($color) {
  @include buttonLink($color);
  font-size: $icon-size-sm;
}

@mixin buttonSocialCircular($color, $background) {
  @include button($color, $background);
  width: 40px;
  height: 40px;
  border-radius: $circle-radius;
  padding: 0;
}