.table {
  border-collapse: collapse;
  display: grid;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  & > thead {
    border-spacing: 20px;
    display: grid;
    & > tr {
      padding: 20px;
      display: grid;
      border: 1px solid $gray-500;
      border-radius: $border-radius;
      grid-template-columns: 0.1fr 1.2fr 1fr repeat(5, 0.5fr);
    }
  }

  & > tbody {
    display: grid;
    border-radius: $border-radius;
    & > tr {
      align-items: center;
      display: grid;
      grid-template-columns: 0.1fr 1.2fr 1fr repeat(5, 0.5fr);
      padding: 20px;
      border-bottom: 1px solid $gray-400;
      transition: $transition-base;
      border-radius: $border-radius;
      &:hover {
        box-shadow: $box-shadow;
      }
    }
  }
}

.table-name {
  padding-left: 20px;
  grid-template-columns: 1fr 0.5fr;
}

.table-6 {
  & > thead {
    & > tr {
      grid-template-columns: 0.1fr 1.2fr 1fr 1.2fr 1fr 0.5fr;
    }
  }

  & > tbody {
    & > tr {
      grid-template-columns: 0.1fr 1.2fr 1fr 1.2fr 1fr 0.5fr;
    }
  }
}