.MaterialAccordion {
  padding: 25px;
  border-radius: $border-radius;
  transition: $transition-base;
  // &:hover {
  //   box-shadow: $box-shadow;
  // }

  &__header {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    &--info {
      align-items: center;
      grid-template-columns: 1fr 1fr 0.1fr;

      & span {
        padding: 0 10px;
      }
    }
    &--title {
      font-size: $font-size-lg;
      font-weight: 600;
      cursor: pointer;
    }
  }

  //   &--info {
  //     grid-template-columns: 1fr 1fr 0.1fr;
  //   }

  //   & .accordion {
  //     cursor: pointer;
  //   }
  // }

  &__body {
    font-size: $font-size-md;
    padding: 25px;
    padding-bottom: 0;

    // &.collapse {
    //   display: none;
    // }
  }
}

.body--video, .body--file {
  cursor: pointer;
  padding: 20px;
  grid-template-columns: 0.1fr 1fr 1fr;
  transition: $transition-base;
  &:hover {
    border-radius: $border-radius;
    // border-left: 1px solid lighten($gray-color, 70%);
    box-shadow: $box-shadow;
  }
}