body {
  margin: 0;
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font-family-headers;
}

a {
  margin: 0;
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 10%);
  }
}

p {
  margin: 0;
}