.border-thicker {
  border: 2px solid darken($gray-color, 70%) ;
}

.border-thick {
  border: 1px solid darken($gray-color, 70%);
}

.border-regular, .border {
  border: 1px solid $gray-color;
}

.border-thin {
  border: 1px solid lighten($gray-color, 70%);
}

.border-thinner {
  border: 0.5px solid lighten($gray-color, 70%);
}

@each $name, $color in $theme-colors {
  .border-color-#{$name} {
    border-color: $color;
  }

  @if (type-of($color) == 'color') {
    .border-thicker-#{$name} {
      border: 2px solid darken($color, 70%) ;
    }

    .border-thick-#{$name} {
      border: 1px solid darken($color, 70%);
    }

    .border-regular-#{$name}, .border-#{$name} {
      border: 1px solid $color;
    }

    .border-thin-#{$name} {
      border: 1px solid lighten($color, 70%);
    }

    .border-thinner-#{$name} {
      border: 0.5px solid lighten($color, 70%);
    }
  }

}