$breakpoints-width: (
  'xl': 2560px,
  'l': 1920px,
  'm': 1024px,
  's': 768px,
  'xs': 640px,
);

$breakpoints-height: (
  'xl': 1980px,
  'l': 1080px,
  'm': 768px,
  's': 480px,
  'xs': 360px,
);

main, section, article, div, form, footer, ul, nav, form, .grid, .section, .container  {
  display: grid;
}

@mixin verticalStart {
  align-self: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

@mixin verticalCenter {
  align-self: center;
  align-items: center;
  align-content: center;
}

@mixin verticalEnd {
  align-self: flex-end !important;
  align-items: flex-end;
  align-content: flex-end;
}

@mixin horizontalRight {
  justify-self: right !important;
  justify-items: right;
  justify-content: right;
}

@mixin horizontalCenter {
  justify-self: center;
  justify-items: center;
  justify-content: center;
}

@mixin horizontalLeft {
  justify-self: left !important;
  justify-items: left;
  justify-content: left;
}

.v-start { @include verticalStart(); }

.v-center { @include verticalCenter(); }

.v-end { @include verticalEnd(); }

.right { @include horizontalRight(); }

.center { @include horizontalCenter(); }

.left { @include horizontalLeft(); }

@function createColumns($amount, $size: 1fr) {
  $result: repeat($amount, $size);

  @return $result;
}

@function createRows($amount) {
  $size: percentage( 1 / $amount );
  $result: repeat($amount, $size);

  @return $result;
}

@for $i from 1 through 12 {
  .column--#{$i} { grid-template-columns: createColumns($i);
  }
}

@for $i from 1 through 12 {
  .column-start--#{$i} { grid-column-start: $i; }
}

@for $i from 1 through 12 {
  .column-end--#{$i} { grid-column-end: span $i; }
}

@for $i from 1 through 12 {
  .row--#{$i} { grid-template-rows: createRows($i); }
}

@for $i from 1 through 12 {
  .row-start--#{$i} { grid-row-start: $i; }
}

@for $i from 1 through 12 {
  .row-end--#{$i} { grid-row-end: span $i; }
}

@each $name, $width in $breakpoints-width {
  @media (max-width: $width) {
    @for $i from 1 to 12 {
      .column-#{$name}-#{$i} {
        grid-template-columns: createColumns($i);
      }
    }

    @for $i from 1 through 12 {
      .column-start-#{$name}-#{$i} {
        grid-column-start: $i;
      }
    }

    @for $i from 1 through 12 {
      .column-end-#{$name}-#{$i} {
        grid-column-end: span $i;
      }
    }

    @for $i from 1 through 12 {
      .row-#{$name}-#{$i} {
        grid-template-rows: createRows($i);
      }
    }

    @for $i from 1 through 12 {
      .row-start-#{$name}-#{$i} {
        grid-row-start: $i;
      }
    }

    @for $i from 1 through 12 {
      .row-end-#{$name}-#{$i} {
        grid-row-end: span $i;
      }
    }

    .v-start-#{$name} {
      @include verticalStart();
    }

    .v-center-#{$name} {
      @include verticalCenter();
    }

    .v-end-#{$name} {
      @include verticalEnd();
    }

    .right-#{$name} {
      @include horizontalRight();
    }

    .center-#{$name} {
      @include horizontalCenter();
    }

    .left-#{$name} {
      @include horizontalLeft();
    }
  }
}
