@each $name, $color in $theme-colors {
  @if (type-of($color) == 'color') {
    .text-#{$name} {
      color: $color;
    }
  }
}

@each $name, $size in $font-headers {
  @if (type-of($size) == 'number') {
    #{$name} {
      font-size: $size;
    }
  }
}

@each $name, $size in $font-size {
  @if (type-of($size) == 'number') {
    .text-#{$name} {
      font-size: $size;
    }
  }
}

@each $name, $weight in $font-weight {
  @if (type-of($weight) == 'number') {
    .text-#{$name} {
      font-weight: $weight;
    }
  }
}